<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<div>
  <%= link_to t('views.common.items.Followings', count: @user.followings.size), followings_path(params[:id]) %>&nbsp;
  <%= link_to t('views.common.items.Followers', count: @user.followers.size), followers_path(params[:id]) %>

  <% if current_user.id != @user.id %>
    <% if current_user.following?(current_user.id, params[:id]) %>
      <%= link_to t('views.common.items.UnFollow'), user_follow_relationships_path(params[:id]), method: :delete, style: 'background-color:red; color:white; border-radius:20px; padding:5px; margin-left:10px;' %>
    <% else %>
      <%= link_to t('views.common.items.Follow'), user_follow_relationships_path(params[:id]), method: :post, style: 'background-color:darkblue; color:white; border-radius:20px; padding:5px; margin-left:10px;' %>
    <% end %>
  <% end %>
</div>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150])%>
  <% end %>
</p>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
