<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>
<p>
  <strong><%= Report.human_attribute_name(:title) %></strong>
  <p><%= @report.title %></p>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %></strong>
  <p><%= safe_join(@report.content.split("\n"), tag(:br)) %></p>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %></strong>
  <p><%= l(@report.created_at, format: :long) %></p>
</p>

<% if @report.user_id == current_user.id %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>

<%# コメント %>
<%# 照会 %>
<hr>
<% if @report.comments.size.zero? %>
  <div class="field">
    <%= t('views.common.nocomment') %>
  </div>
<% else %>
  <% @report.comments.each do |comment| %>
    <div class="comment_field">
      <div class="comment_user_field">
        <%= comment.user.take_name_or_email(comment.user_id)%>
      </div>
      <div class="comment_createdAt_field">
        <%= l(comment.created_at, format: :long) %>
      </div>
      <p class="comment_content_field">
        <%= comment.content %>
      </p>
    </div>
  <% end %>
<% end %>

<%#　追加　%>
<%= form_with(model: [@report, @report.comments.new], local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, required: true %>
  </div>
  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= form.submit %>
  </div>

<% end %>
