<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>
<p>
  <strong><%= Report.human_attribute_name(:title) %></strong>
  <p><%= @report.title %></p>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %></strong>
  <p><%= safe_join(@report.content.split("\n"), tag(:br)) %></p>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %></strong>
  <p><%= l(@report.created_at, format: :long) %></p>
</p>

<% if @report.user_id == current_user.id %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>

<%# コメント %>
<hr>
<% if @report.comments.size.zero? %>
  No Data
<% else %>
  <% @report.comments.each do |comment| %>
    <div class="comment_field">
      <div class="comment_user_field"><%= comment.user.name %></div>
      <div class="comment_createdAt_field"><%= comment.created_at %></div>
      <p class="comment_content_field"><%= comment.content %></p>
    </div>
  <% end %>
<% end %>
